@model IEnumerable<MedicalJournal2.Models.Patients>

@{
    ViewData["Title"] = "Home Page";
}

    

<div class="first">
    <div class="second">@Html.ActionLink("Сотрудники", "Index", "Doctors")</div>
    <div class="second">@Html.ActionLink("Журнал", "Create", "Journals")</div>
    <div class="second">@Html.ActionLink("Клиенты", "Index", "Patients")</div>
</div>


